a {
  text-decoration: none;
}

input::placeholder {
  font-weight: normal !important;
}

div[data-orientation="horizontal"], div[data-orientation="horizontal"]:hover, div.mantine-ScrollArea-corner {
  background-color: transparent;
}

.profile-modal div[data-orientation="vertical"] {
  background-color: #1a1b1e !important;
}
.profile-modal div.mantine-ScrollArea-thumb, .profile-modal div.mantine-ScrollArea-thumb:hover {
  background-color: #474952 !important;
}

.swiper-pagination-progressbar {
  background-color: transparent !important;
  border-radius: 0.5rem !important;
  width: 6px !important;
}
.swiper-pagination-progressbar-fill {
  background-color: #474952 !important;
  border-radius: 0.5rem !important;
  width: 6px !important;
}