a {
  text-decoration: none;
}

input::placeholder {
  font-weight: normal !important;
}

div[data-orientation="horizontal"], div[data-orientation="horizontal"]:hover, div.mantine-ScrollArea-corner {
  background-color: transparent;
}

.profile-modal div[data-orientation="vertical"] {
  background-color: #1a1b1e !important;
}

.profile-modal div.mantine-ScrollArea-thumb, .profile-modal div.mantine-ScrollArea-thumb:hover {
  background-color: #474952 !important;
}

.swiper-pagination-bullet {
  background-color: #c0c1c4 !important;
}

.swiper-pagination-bullet-active {
  background-color: white  !important;
}