a {
  text-decoration: none;
}

div[data-orientation="horizontal"], div[data-orientation="horizontal"]:hover {
  background-color: transparent;
}

div.mantine-ScrollArea-corner {
  background-color: transparent;
}

